@model IEnumerable<LTQL.Models.NhaXuatBan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách các nhà xuất bản</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaNXB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenNXB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ghichu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaNXB)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenNXB)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ghichu)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MaNXB }) |
        @Html.ActionLink("Details", "Details", new { id = item.MaNXB }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MaNXB })
    </td>
</tr>
}

</table>
