@model IEnumerable<LTQL.Models.Muon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Madocgia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Masach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaymuon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hanphaitra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ghichu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Madocgia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Masach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaymuon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hanphaitra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ghichu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Mamuon }) |
            @Html.ActionLink("Details", "Details", new { id=item.Mamuon }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Mamuon })
        </td>
    </tr>
}

</table>
