@model IEnumerable<LTQL.Models.Nhanvien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách nhân viên</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotenNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sodienthoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ghichu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaNV)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HotenNV)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Sodienthoai)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ghichu)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MaNV }) |
        @Html.ActionLink("Details", "Details", new { id = item.MaNV }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MaNV })
    </td>
</tr>
}

</table>
